@font-face {
    font-family: 'BurgGroteskMono';
    src: url('./font/BurgGroteskMono-Regular.otf') format('opentype');
}
html{
    font-size: 6px;
}
   

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'BurgGroteskMono', Courier, monospace;    
    font-size: 17px;
    letter-spacing:0.03px;
}



.fade{
        opacity: 1;
        transition: opacity 1s; 
}

.fadeout{
    opacity: 0;
    transition: opacity 1s; 
}

.intro{
    padding-left: 1vh;
    padding-top: 0.5vh;
    font-size: 17px;
    word-break: break-word;
}
.navi{
    width: 100vw;
}


  .toggle input {
    display: none;
  }
  


.toggle-switch {
    position: relative;
    display: inline-block;
    top: 0.3vh;
    width: 29px;
    height: 16px;
    border-radius: 25px;
    overflow: hidden;
    transform: rotate(3.142rad);
  }
  
  .toggle-switch input {
    display: none;
  }
  
  .toggle-switch .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #66df6a; 
    border-radius: 50px;
    transition: 0.4s;
  }
  
  .toggle-switch input:checked + .slider { 
    background-color: #2196F3; 
  }
  
  .toggle-switch .slider::before {
    content: "";
    position: absolute;
    width: 10.9px;
    height: 10.9px;
    border-radius: 50%;
    background-color: white;
    top: 2.5px;
    left: 3px;
    transition: 0.4s;
  }
  
  .toggle-switch input:checked + .slider::before {
    transform: translateX(11px); 
  }
  



.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
    height: 100vh;
    grid-gap: 6vh;
}

.gallery img{
  width: 100%;
  margin:auto;
  padding: auto;
  object-fit: cover;
  display: block;
}



.gallery {
    position: relative;
    width: 48vw; 
    height: 60vh;
    cursor: pointer;
    margin-top: 21vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


.gallery:first-child{
    margin-top: 0;
}



.background{
    background-color: black;
}

.image-overlay {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    transition: background-color 0.3s;
}

.text{
    position: relative;
    padding-bottom: 11vh;
    padding-left: 0.5vh;
    /* width: 49.8vw; */
}

.text:last-child{
    padding-bottom: 45vh;
}

.lineheight{
    line-height:18px;
    margin-top: 3vh;
    font-style:italic;
}

.text-table{
    display: grid;
    grid-template-columns: 13vh 40vh ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-top:1vh;
}

p{
    padding:0;
    margin:0;
    border-radius: 1px solid black;
}

.intro-position{
    width: 100vw;
}

.image-count {
    position: absolute;
    right:0;
    color:black;
    font-size: 17px;
    letter-spacing:0.48px;
  }



.about{
    margin-top: 2vh;
}
  
.textwidth{
    max-width: 80vh; 
}

a{
    color: black;
}



#current-image{
    width: 100%;
    position: absolute;
}


#current-image-2{
    width: 100%;
    position: absolute;
}

#current-image-3{
    width: 80%;
    position: absolute;
}

#current-image-4{
    width: 80%;
}

#current-image-5{
    width: 59%;
    position: absolute;
}

#current-image-6{
    width: 95%;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#current-image-7{
    width: 95%;
    bottom:0vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#current-image-8{
    width: 95%;
    bottom:0vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#current-image-9{
    width: 95%;
    bottom:0vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}

#current-image-10{
    width: 100%;
    margin: 0;

}








#right{
    opacity: 0;
    overflow: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    position: absolute;
    width: 49vw;
    height: 100vh;
    right:0;
}

#right::-webkit-scrollbar {
    display: none;
}


#left{
 overflow: scroll;
 -ms-overflow-style: none; 
 scrollbar-width: none; 
 scroll-behavior: smooth;
 height:auto;   
 /* max-width: 48vw; */
}

#left::-webkit-scrollbar {
    display: none;
}


#left-overlay {
    left: 0;
    cursor: w-resize; 
}

#right-overlay {
    right: 0;
    cursor: e-resize; 
}

#left-overlay-2 {
    left: 0;
    cursor: w-resize; 
}

#right-overlay-2 {
    right: 0;
    cursor: e-resize; 
}

#left-overlay-3 {
    left: 0;
    cursor: w-resize;
}

#right-overlay-3 {
    right: 0;
    cursor: e-resize; 
}

#left-overlay-4 {
    left: 0;
    cursor: w-resize;
}

#right-overlay-4 {
    right: 0;
    cursor: e-resize;
}

#left-overlay-5 {
    left: 0;
    cursor: default; 
}

#right-overlay-5 {
    right: 0;
    cursor: default; 
}

#left-overlay-6 {
    left: 0;
    cursor: w-resize; 
}

#right-overlay-6 {
    right: 0;
    cursor: e-resize; 
}

#left-overlay-7 {
    left: 0;
    cursor: w-resize;
}

#right-overlay-7 {
    right: 0;
    cursor: e-resize;
}

#left-overlay-8 {
    left: 0;
    cursor: w-resize; 
}

#right-overlay-8 {
    right: 0;
    cursor: e-resize; 
}

#left-overlay-9 {
    left: 0;
    cursor: w-resize; 
}

#right-overlay-9 {
    right: 0;
    cursor: e-resize; 
}

#left-overlay-10 {
    left: 0;
    cursor: w-resize; 
}

#right-overlay-10 {
    right: 0;
    cursor: e-resize; 
}





@media screen and (max-width: 1366px) {

    #current-image-5{
        width: 46%;
        position: absolute;
    }

    .image-count{
        right: 0;
    }

    .gallery img{
        width: auto;
        height: auto;
        object-fit: cover; 
        display: block;
      }

    .gallery{
        width: 100vw;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden; 
    }

    #left{
        width: 100vw;
        height:auto;
        overflow: scroll;
    }

    #right{
        width: 100vw;
        height: 90vh;
        display: none;
        overflow: auto;
    }

    #current-image-6{
        width: 85%;
        position: absolute;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    #current-image-7{
        width: 85%;

        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    #current-image-8{
        width: 85%;

        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    #current-image-9{
        width: 85%;

        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
    }


  }





  @media screen and (max-width: 768px){
      
    .gallery{
          height: 55vh;
      } 

    
      #current-image-5{
        width: 56%;
        position: absolute;
    }


  }

  





  @media screen and (max-width: 414px){
.toggle-switch {
    top:0.8vh;
    position: relative;
    display: inline-block;
    width: 30px;
    height: 18px;
    border-radius: 25px;
    overflow: hidden;
    transform: rotate(3.142rad);
  }
  
  
  
  .toggle-switch input {
    display: none;
  }
  

  .toggle-switch .slider {
    position: absolute;
    top: 3px;
    left: 1.5px;
    right: 0;
    bottom: 0;
    background-color: #00e107;
    border-radius: 50px;
    transition: 0.4s;
  }
  
  .toggle-switch input:checked + .slider {
    background-color: #2196F3; 
  }
  
  .toggle-switch .slider::before {
    content: "";
    position: absolute;
    width: 9.8px;
    height: 9.8px;
    border-radius: 50%;
    background-color: white;
    top: 2.4px;
    left:3.8px;
    transition: 0.4s;
  }
  
  .toggle-switch input:checked + .slider::before {
    transform: translateX(11px); 
  }

    body{
        font-size: 14px;
    }
 
    .intro{
     font-size: 14px;
    }
 
    .image-count{
        font-size: 14px;
    }

    #current-image{
        width: 100%;
    }

    .gallery{
        height: 45vh;
    }
  }



  @media screen and (max-width: 390px) {
    body{
        font-size: 14px;
    }
 
    .intro{
     font-size: 14px;
    }
 
    .image-count{
        font-size: 14px;
    }

    .gallery{
        height: 45vh;
    }

  }


  @media screen and (max-width: 375px){
   .gallery{
       height: 45%;
   }
  }



@media screen and (max-width: 360px) {
    body{
        font-size: 12px;
    }
 
    .intro{
     font-size: 12px;
    }
 
    .image-count{
        font-size: 12px;
    }

   .gallery{
       height: 45%;
   }
}
