   

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
    letter-spacing:0.03px;
    font-size: 12px;
    line-height: 19px;
}

span .and{
 background-color: blue;
}

.fade{
        opacity: 1;
        transition: opacity 1s; 
}

.fadeout{
    opacity: 0;
    transition: opacity 1s; 
}

li{
 width: 100%;
 display: inline-block;

 /* background-color: palegreen; */
 /* color: palegreen; */
}


ul{
    width: 100%;
    position: fixed;
    top: 1vh;
    left: 1vh;
    padding: 0;
    margin: 0;
}




.intro{
    top: 1vh;
    position: absolute;
    word-break: break-word;
    width: 40%;
    /* height: auto; */
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
}



  .toggle input {
    display: none;
  }



.toggle-switch {
    display: inline-block;
    top: 2vh;
    margin-bottom:-0.25vh;
    width: 26px;
    height: 14px;
    border-radius: 25px;
    overflow: hidden;
    transform: rotate(3.142rad);
    position: sticky;
    z-index: 99999;
    margin-right: 0.3vh;
    margin-left: 0.3vh;
    line-height: 3px;
  }
  
  .toggle-switch input {
    display: none;
  }
  
  .toggle-switch .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #66df6a; 
    border-radius: 50px;
    transition: 0.4s;
  }
  
  .toggle-switch input:checked + .slider { 
    background-color: #2196F3; 
  }
  
  .toggle-switch .slider::before {
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: white;
    top: 2.5px;
    left: 3px;
    transition: 0.4s;
  }
  
  .toggle-switch input:checked + .slider::before {
    transform: translateX(11px); 
  }
  



/* .content{
    margin-top: 10vh;
    display: grid;
    margin-left: auto;
    margin-right: auto;
} */

.gallery img{
  width: 100%;
  margin:auto;
  padding: auto;
  object-fit: cover;
  display: block;
}



.gallery {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}



.gallery:first-child{
    margin-top: 12vh;
}




#right .gallery{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 94%;
    left: 0;
    right: 0;
    margin: auto;
}

/* .background{
    background-color: black;
} */

.image-overlay {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    transition: background-color 0.3s;
}

p{
    background-color: white;
}


.text{
    position: relative;
    margin-top: 4vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 20px 20px 20px 20px;
    text-align: start;
    grid-gap: 3px;
    padding: 0;
    padding-bottom: 9vh;
    /* background-color: black;
    border: 1px solid black; */
  
}



.lineheight{
    line-height:18px;
    margin-top: 3vh;
    font-style:italic;
}



p{
    padding:0;
    margin:0;
    border-radius: 1px solid black;
}


.image-count {
    /* position: absolute;
    right:0; */
    color:black;
    /* font-size: 17px; */
    letter-spacing:0.48px;
  }



.about{
    margin-top: 2vh;
}
  
.textwidth{
    max-width: 80vh; 
}

a{
    color: black;
}


footer{
    width: 30%;
    margin: auto;
    padding:auto;
    margin-top: 9vh;
    margin-bottom: 5vh;
}

.footer-image{
    width: 100%;
    border-radius: 20px;
}

.yours {
    align-items: flex-start;
  }
  
.messages {
    margin-top: 2px;
    display: flex;
    flex-direction: column;
  }


.message {
    border-radius: 20px;
    padding: 12px 15px;
    margin-bottom: 5px;
    text-align: left;
    display: inline-block;
  }
  
  .yours .message {
    background-color: #eee;
    position: relative;
  }
  
  .yours .message.last:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: -7px;
    height: 20px;
    width: 20px;
    background: #eee;
    border-bottom-right-radius: 15px;
  }
  
  .yours .message.last:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: -10px;
    width: 10px;
    height: 20px;
    background: white;
    border-bottom-right-radius: 10px;
  }




#right{
    display: none;
    overflow: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    top:9.6vh;
    width: 100%;
    margin-top: 12vh;
    /* position: absolute; */
}

#right::-webkit-scrollbar {
    display: none;
}


#left{
 overflow: scroll;
 -ms-overflow-style: none; 
 scrollbar-width: none; 
 scroll-behavior: smooth;
 /* height: auto; */
 /* background-color: #2196F3; */
 /* max-width: 48vw; */
}

#left::-webkit-scrollbar {
    display: none;
}


#left-overlay {
    left: 0;
    cursor: w-resize; 
}

#right-overlay {
    right: 0;
    cursor: e-resize; 
}

#left-overlay-2 {
    left: 0;
    cursor: w-resize; 
}

#right-overlay-2 {
    right: 0;
    cursor: e-resize; 
}

#left-overlay-3 {
    left: 0;
    cursor: w-resize;
}

#right-overlay-3 {
    right: 0;
    cursor: e-resize; 
}

#left-overlay-4 {
    left: 0;
    cursor: w-resize;
}

#right-overlay-4 {
    right: 0;
    cursor: e-resize;
}

#left-overlay-5 {
    left: 0;
    cursor: w-resize; 
}

#right-overlay-5 {
    right: 0;
    cursor: e-resize; 
}

#left-overlay-6 {
    left: 0;
    cursor: w-resize; 
}

#right-overlay-6 {
    right: 0;
    cursor: e-resize; 
}

#left-overlay-7 {
    left: 0;
    cursor: w-resize;
}

#right-overlay-7 {
    right: 0;
    cursor: e-resize;
}

#left-overlay-8 {
    left: 0;
    cursor: w-resize; 
}

#right-overlay-8 {
    right: 0;
    cursor: e-resize; 
}

#left-overlay-9 {
    left: 0;
    cursor: w-resize; 
}

#right-overlay-9 {
    right: 0;
    cursor: e-resize; 
}

#left-overlay-10 {
    left: 0;
    cursor: w-resize; 
}

#right-overlay-10 {
    right: 0;
    cursor: e-resize; 
}




@media screen and (max-width: 1024px){
   .intro{
    width: 50%;
   }
    footer{
        width: 40%;
    } 
}

@media screen and (max-width: 768px){
    ul{
        display: none;
    }

    .intro{
        width: 100%;
    }

    .text{
        padding-left: 1vw;
    }
    
    footer{
        width: 60%;
    } 
}



